<div class="side-bar-header">
<div class="username">
<a href="#">tom</a>
</div>

<div class="chat-make">
<a href="#">チャットを作成する</a>
</div>
</div>

<div class="rooms">
<div class="room">
  <div class="chatroom">
    <a link to ="#">chatroom1</a>
  </div>
  </div>
  <div class="room">
  <div class="chatroom">
    <a link to ="#">chatroom2</a>
  </div>
</div>
</div>
